*{
    margin: 0;
    padding: 0;
    border: 0;
}
.cabecalho{
   background-color: #BE89CB;
    height: 103px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
li{
    list-style: none;
    display: inline;
    margin-right: 40px;
}
.lista-menu li>a{
    color: #FFF;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;

}
h1{
    color: #FF4DBC;
    text-align: center;
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.perfil{
    background-color: #ededed;
    height: 579px;
    text-align: center;
    justify-content: center;
    
}
img{
    width: 150px;
    height: 150px;
    margin-top: 48px;
    margin-bottom: 26px ;
    justify-content: center;
    text-align: center;
}
.minha-descricao{
    color: #000;
text-align: center;
font-family: ABeeZee;
font-size: 16px;
font-style: normal;
line-height: 140%;
margin-left: auto;
margin-right: auto;
max-width: 100%;
width: 405px;
margin-top: 21px;
font-weight: 400px  ;
    
}
.profissao{
        color: #C5C0C0;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
.formacao{
    background-color: #e5e5e5;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 40%;
    text-align: center;
    box-sizing: border-box
    
}
.conteiner{
    margin-left: auto;
    margin-right: auto;
    margin-top: 86px;
    max-width: 750px;
}
.artigo-formacao{
    display: flex;
    flex-direction: column;
    margin-bottom: 100PX;

   
}
.titulo-secao{
    width: 363.452px;
    color:#FF4DBC;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.lista-formacao{
    padding: 10px;
    display: flex;
    width: 879px;
    flex-direction: column;
    align-self: center;
    height: 579px;
    justify-content: center;
    
}
.titulo-formacao{
    color: #828282;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.link-formacao{
    color: #2F80ED;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: solid;
}
.descricao-formacao{
    font-size: 14px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100px;


}
.rodape{
    display: flex;
    align-items: center;
    background-color: #BE89CB;
    height: 300px;
}
.lista-rodape li{
    color: #FFFF;
    font-size: 18px;
    margin-bottom: 28px;
    font-weight: 700px;
    display: flex;
    align-items: center;
    font-family: Open Sans;
}
.conteiner-rodape{
    margin-left: 60px;
    }
.link-rodape{
    color: #FFF;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
text-decoration: none;
line-height: 20px;
}
.fa-brands{
    width: 24.5px;
    height: 24.5px;
    
}


   

    
.meus-projetos{
    background-color: #e5e5e5;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 20%;
    text-align: center;
    justify-content: center;
    width: 1002px;
    height: 601px;
}

.paragrafo{
    color: #661E4B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: flex-start;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 10px;
    
}
.segundario{
    color: #000;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 100;
line-height: normal;
align-items: center;
}

h2{
    color: #661E4B;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;

} 
.descricao-formacao3{
    font-size: 14px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100px;
}
    

